{% extends 'base.html' %}

{% block index %}
<div class="fullscreen d-flex h-100 text-center text-white p-0">
    <main id="index-main" class="cover-container d-flex p-3 mx-auto justify-content-center flex-column">
        <div id="index-box" class="p-3 bg-dark">
            <h1 class="cover-heading">WEB-ML</h1>
            <p class="lead">A platform for model training. Managing all tasks with just a few clicks.</p>
            <p class="lead">
                <a href="/train" class="mx-2 px-4 btn btn-lg btn-secondary">Train</a>
                <a href="/results" class="mx-2 px-4 btn btn-lg btn-light">Tasks</a>
            </p>
        </div>
    </main>
    <footer>
        <hr />
        <small>
            &copy; 2022
            <a href="https://github.com/ferv3455" title="Written by ferv3455">ferv3455</a>
            /
            <a href="https://github.com/ferv3455/Web-ML" title="Fork me on GitHub">GitHub</a>
        </small>
    </footer>
</div>
{% endblock %}

{% block footer %}
{% endblock %}